body {
    margin: 0;
    font-family: "Gill Sans", sans-serif;
    background-color: ghostwhite;
}

.header {
    height: 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.6rem;
}

.header-link {
    margin: 0 0.6rem;
    text-decoration: none;
}

.header-link:visited {
    color: initial;
}

.login {
    display: flex;
    justify-content: space-around;
}

.navigation {
    border-top: 0.06rem solid black;
    border-bottom: 0.06rem solid black;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genre {
    margin: 0 1rem;
    text-decoration: none;
}

.genre:visited {
    color: initial;
}

.albums {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: auto;
    width: 60rem;
    min-height: 40rem;
}

.albums-box {
    text-align: center;
    margin: 1rem;
    width: 13rem;
}

.albums-image {
    height: 10rem;
}

.stock-in { color: green }
.stock-out { color: red }

.album {
    height: 32rem;
    display: flex;
}

.album-image {
    width: 30rem;
    margin: 1rem;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    height: 6rem;
    align-items: center;
}

.footer-link {
    margin: 0 1rem;
}

@media only screen and (max-width: 992px) {
    .albums {
        width: 30rem;
    }
}