body {
    margin: 0;
    font-family: "Gill Sans", sans-serif;
    background-color: ghostwhite;
}

.header {
    height: 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.6rem;
}

.header-link {
    margin: 0 0.6rem;
    text-decoration: none;
    color: black;
}

.header-login {
    display: flex;
    justify-content: space-around;
}

.navigation {
    border-top: 0.06rem solid black;
    border-bottom: 0.06rem solid black;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.navigation-genre {
    margin: 0 1rem;
    text-decoration: none;
    color: white;
}

.login-input-container {
    text-align: center;
}

.login-input-container div {
    margin: 1rem 0;
}

.login-input {
    border-radius: 0.2rem;
    padding: 0.3rem;
    border: 0.08rem solid black;
}

.login-submit-button {
    text-align: center;
    width: 6rem;
    margin: 1rem auto;
    padding: 0.12rem;
    cursor: pointer;
}

.albums {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: auto;
    width: 60rem;
}

.albums-container {
    text-align: center;
    margin: 1rem;
    width: 13rem;
}

.albums-image {
    height: 10rem;
}

.album {
    height: 32rem;
    display: flex;
}

.album-image {
    width: 30rem;
    margin: 1rem;
}

.album-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.stock-in { color: green }
.stock-out { color: red }

.profile {
    text-align: center;
}

.profile-fields-container {
    border: 0.08rem black solid;
    border-radius: 0.2rem;
    padding: 1rem;
    margin: 1rem;
}

.profile-fields {
    padding: 0.6rem;
    display: flex;
}

.profile-column {
    padding: 0 1rem;
}

.profile-column.left {
    flex: 2;
    text-align: right;
}

.profile-column.right {
    flex: 3;
    text-align: left;
}

.profile-column.type {
    flex: 1;
}

.profile-column.current {
    flex: 1;
}

.profile-column.new {
    flex: 1;
}

.profile-column.new input {
    border-radius: 0.2rem;
    padding: 0.3rem;
    border: 0.08rem solid black;
}

.profile-submit-button {
    cursor: pointer;
    margin: 1rem auto 0;
}

.profile-submit-button a {
    text-decoration: none;
    color: black;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    height: 6rem;
    align-items: center;
}

.footer-link {
    margin: 0 1rem;
}

.albums, .login, .profile { min-height: 40rem; }

@media only screen and (max-width: 992px) {
    .albums {
        width: 30rem;
    }
}